.navigation {
  font-size: 0.8rem;

  &__list {
    display: flex;
    gap: 1rem;
  }

  &__item {
    list-style-type: none;
    padding: 10px;

    &:hover {
      & > .sub-navbar {
        max-height: 100%;
      }

      & > .navlink__dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__navlink {
    text-decoration: none;
    color: $medium-gray;
  }

  @import "./submenu";
}

.navlink__dropdown-icon {
  margin-left: 0.3rem;
  transform: rotate(0);
  transition: transform 0.3s linear;
  &:hover {
    cursor: pointer;
  }
}
