.header {
  &__secondary-navigation {
    height: fit-content;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
  }
}

.secondary-navigation {
  &__list {
    display: flex;
    gap: 1.8rem;
  }

  &__item {
    list-style-type: none;
    padding: 10px;

    &--grey-border {
      border: 2px solid $medium-gray;
      border-radius: 15px;
      top: 0;
    }
  }

  &__navlink {
    text-decoration: none;
    color: $medium-gray;
  }
}
