.sub-navbar {
  margin-top: 5px;
  display: grid;
  gap: 0.5rem;
  font-size: 0.8rem;
//   transform: scaleY(0);
max-height: 0;
overflow: hidden;
  transform-origin: top;
  transition: max-height 0.3s ease-in;

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__navlink {
    color: $medium-gray;
    text-decoration: none;
  }

  &__item-icon {
    padding: 5px;
  }
}
